.idea/
.vscode/
/scrapper/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
.DS_Store
Thumbs.db

mariadb_files/aria_log.00000001
mariadb_files/aria_log_control
mariadb_files/prestashop/ps_connections_source.ibd
prestashop_files/var/cache/dev/*.php.meta
prestashop_files/var/cache/dev/smarty/compile/*
