/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 #custom_phone_number{ color: #232323 }
 @media (min-width: 1200px) {
    .container {
        width: 1400px;
        max-width: 100%;
    }
}
#custom-img{
    width: 870px;
    height: 217px;
    aspect-ratio: auto 870 / 217;
}
/* #footer_sub_menu_1{
    padding-right: 200px;
} */

/* .custom-row{
    width: 1400px;
}

.contact-custom{
    position: absolute;
    right: 0;
} */